.header {
    margin-top: 4rem;
    text-align: center;
    color: var(--color-grayish-blue);
    margin-bottom: 2rem;
}

.toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-light-grayish-blue);
    margin-bottom: 3rem;
}

.main-content {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
        // grid-column-gap: 1rem;
        align-items: center;
        margin: 0 5vw;
    }

    .card__list-item {
        &--1{
            grid-column: 1 / 2;
        }

        &--2 {
            grid-column: 2 / 3;
        }

        &--3 {
            grid-column: 3 / -1;
        }
    }
}

.footer {
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}