.form-content {
    grid-column: col-start 2 / center-end;
    grid-row: 2 / 3;
    width: 80%;

    @media only screen and (max-width: $bp-medium) {
        width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
        grid-row: 3 / 4
    }

    display: grid;
    grid-row-gap: 1.5rem;

    &__header {
        background-color: var(--color-blue);
        border-radius: 5px;
        padding: .8rem 2rem;
        text-align: center;
        color: #fff;
        box-shadow: 0 .5rem 0 rgba(#000, .2);

        @media only screen and (max-width: $bp-small) {
            padding: .8rem 3rem;
        }
    }
}

.form {
    background-color: #fff;
    border-radius: 7px;
    padding: 2rem;
    box-shadow: 0 .5rem 0 rgba(#000, .2);

    display: grid;
    grid-row-gap: 1rem;

    input, button {
        font-family: inherit;
        border-radius: 5px;
        color: var(--color-dark-blue);
    }

    &__input {
        border: 2px solid var(--color-grayish-blue);
        padding: 1rem;
        font-weight: 600;
        width: 100%;

        &:focus {
            border-color: var(--color-dark-blue);
        }

        &.invalid {
            color: var(--color-red);
            background-image: url(../images/icon-error.svg);
            background-repeat: no-repeat;
            background-position: 95%;
            border-color: var(--color-red);
        }
    }

    &__input.invalid ~ &__error-msg {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    &__error-msg {
        font-size: .7rem;
        font-style: italic;
        text-align: right;
        color: var(--color-red);
        margin-top: 5px;
        font-weight: 500;
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    &__btn {
        background-color: var(--color-green);
        color: #fff !important;
        text-transform: uppercase;
        padding: 1rem 3.5rem;
        border: none;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 3px 0 rgba(#000, .2);
        transition: all .2s;

        &:hover {
            filter: opacity(.6);
        }
    }

    &__agreement {
        font-size: .6rem;
        text-align: center;
        color: var(--color-grayish-blue);
        font-weight: 600;
        // margin-top: -5px;
    }
}