.btn {
    padding: .5rem 1.5rem;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase   ;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid currentColor;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;

    &--light {
        color: var(--color-very-light-gray);
        &:hover {
            color: var(--color-very-dark-Violet);
            background-color: var(--color-very-light-gray);
        }
    }

    &--dark {
        color: var(--color-very-dark-Violet);
        &:hover {
            color: var(--color-very-light-gray);
            background-color: var(--color-very-dark-Violet);
        }
    }
}